<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Slye Analysis | {{app}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      <button ng-click="toggleUTC()" class="mdl-navigation__link mdl-button mdl-js-button mdl-button--icon" ng-show='utc'>
          <i class="material-icons">alarm</i>
      </button>
      <button ng-click="toggleUTC()" class="mdl-navigation__link mdl-button mdl-js-button mdl-button--icon" ng-hide='utc'>
          <i class="material-icons">alarm_off</i>
      </button>
        <a href="/" class="mdl-navigation__link mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">home</i>
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{app}}</span>
    <nav class="mdl-navigation">
          <a class="mdl-navigation__link" ng-href="/view/{{app}}">Real-time stats</a>
          <a class="mdl-navigation__link  mdl-navigation__link--current" ng-href="/view/{{app}}/archives">Archives</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-spinner mdl-js-spinner is-active" ng-show="loading"></div>
        <h2 ng-hide="loading">{{time * 1000 | date}}</h2>
        <div class="mdl-grid" ng-hide="loading">
            <div class="chart-overview-card mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand">
                  <canvas id="line" class="chart chart-line" chart-data="data.total"
                  chart-labels="labels" chart-series="series" chart-options="options"
                  chart-dataset-override="datasetOverride" chart-click="onClick"
                  ></canvas>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col" ng-repeat="endpoint in endpoints">
                <div class="chart-overview-card mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title mdl-card--expand">
                      <canvas id="line" class="chart chart-line" chart-data="data['e'][endpoint]"
                      chart-labels="labels" chart-series="series" chart-options="options"
                      chart-dataset-override="datasetOverride" chart-click="onClick"
                      ></canvas>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                      <h3>{{endpoint}}</h3>
                  </div>
                </div>
            </div>

        </div>
    </div>
  </main>
</div>
