<!DOCTYPE html>
<html ng-app="sa" class="mdc-typography">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Slye Analysis</title>

	<base href="/">
	<link rel="stylesheet" href="/packages/material-design-lite/material.min.css">

	<link rel="stylesheet" href="/css/app.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<section class="section" id="section">
		<div ng-view></div>
	</section>
	<script src="/packages/angular/angular.js"></script>
	<script src="/packages/angular-route/angular-route.js"></script>
	<script src="/packages/material-design-lite/material.min.js"></script>
	<script src="/packages/chart.js/dist/Chart.min.js"></script>
	<script src="/packages/angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="/packages/socket.io-client/dist/socket.io.js"></script>

	<script src="js/main.js"></script>
    <script src="js/controllers/dashboard.js"></script>
	<script src="js/controllers/view.js"></script>
</body>
</html>
